/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5c7cfa;
  --ifm-color-primary-dark: #4c6ef5;
  --ifm-color-primary-darker: #4263eb;
  --ifm-color-primary-darkest: #3b5bdb;
  --ifm-color-primary-light: #748ffc;
  --ifm-color-primary-lighter: #91a7ff;
  --ifm-color-primary-lightest: #bac8ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #748ffc;
  --ifm-color-primary-dark: #5c7cfa;
  --ifm-color-primary-darker: #4263eb;
  --ifm-color-primary-darkest: #364fc7;
  --ifm-color-primary-light: #91a7ff;
  --ifm-color-primary-lighter: #bac8ff;
  --ifm-color-primary-lightest: #edf2ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  border-radius: 20%;
  overflow: hidden;
}
